/* Variables for Typography and Color */

:root {
  --montserrat: "Montserrat", sans-serif;
  --containerback: #2e2e2e;
  --containerhover: #333333;
  --searchback: rgb(56, 56, 56);
  --footerback: #272727;
  --footertext: #888888;
  --texthover: rgb(168, 168, 168);
}

body {
  background-color: rgb(29, 29, 29);
}

/* Header */

#profile-container {
  background-color: var(--containerback);
  width: 65px;
  height: 33px;
  margin: 30px auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

#profile-container:hover {
  background-color: var(--containerhover);
  cursor: pointer;
}

#google-drive-container {
  width: 100%;
}

#drive-icon {
  width: 100%;
  margin-left: 1px;
  margin-top: 2px;
}

#pic-container {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

#profile-pic {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

/* Google Apps Display */

.popup {
  width: 255px;
  height: 245px;
  background-color: var(--footerback);
  position: absolute;
  top: 70px;
  right: 50%;
  border-radius: 8px 0 0 8px;
  z-index: 5;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 85px);
  padding: 20px;
}

.grid-item {
  background-color: var(--footerback);
  border-radius: 5px;
}

.grid-item:hover {
  background-color: var(--containerhover);
  cursor: pointer;
}

.grid-item img {
  width: 50%;
  display: block;
  margin: 8px auto;
}

.grid-item p {
  font-size: 0.6rem;
  font-family: var(--montserrat);
  color: var(--footertext);
  font-weight: 400;
  text-align: center;
  margin-top: -3px;
}

.grid-item #gplay {
  width: 45%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid-item #gmeet {
  width: 48%;
  margin-top: 12px;
  margin-bottom: 13px;
}

.grid-item .gfoot {
  width: 48%;
  margin-top: 12px;
  margin-bottom: 13px;
}

.hide {
  display: none;
}

/* Main */

#things-in-center {
  width: 800px;
  height: 400px;
  margin: 130px auto;
}

#google-image {
  width: 38%;
  display: block;
  margin: 0 auto;
}

/* Search nav Bar */

#search-nav {
  display: flex;
  margin: 0 auto;
  font-family: var(--montserrat);
  width: 75%;
  height: 50px;
  border-radius: 5px;
  background: var(--searchback);
}

#lupa {
  width: 25px;
  height: 25px;
  opacity: 40%;
  margin-left: 11px;
  margin-top: 13px;
  filter: invert();
}

#lupa:hover {
  opacity: 70%;
  cursor: pointer;
}

#mic {
  width: 18px;
  height: 24px;
  margin-top: 12px;
  margin-left: 23px;
  opacity: 80%;
}

#mic:hover {
  opacity: 100%;
  cursor: pointer;
}

#search-nav input[type="text"] {
  padding: 6px;
  border: none;
  margin-left: 14px;
  margin-top: 3px;
  background-color: transparent;
  font-family: var(--montserrat);
  width: 80%;
  height: 33px;
  font-size: 0.9rem;
  color: rgb(219, 219, 219);
  appearance: none;
}

#search-nav input[type="text"]:focus {
  outline: none;
}

#search-nav input[type="text"]::placeholder {
  opacity: 80%;
}

/* Buttons */

#btn-container {
  display: flex;
  margin: 0 auto;
  width: 350px;
  justify-content: center;
}

.btn {
  display: block;
  margin: 45px auto;
  width: 160px;
  height: 45px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #838383;
  border: 0;
  background: var(--containerback);
  border-radius: 5px;
  font-family: var(--montserrat);
}

#btn-search:hover {
  background: var(--containerhover);
  cursor: pointer;
}

#btn-search:focus {
  outline: none;
}

/* Toggle Theme */

.toggle {
  margin: 0 auto;
  display: block;
}
/* Footer */

footer {
  background-color: var(--footerback);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 53px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 14px;
}

.footer-links {
  color: var(--footertext);
  text-decoration: none;
}

.footer-links:hover {
  color: var(--texthover);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}

#footer-container-left {
  display: flex;
  justify-content: flex-start;
}

.left-links {
  margin-left: 50px;
}

/* Toggle Switch Theme */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
  margin-left: 50px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3.5px;
  background-color: var(--footertext);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(29, 29, 29);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(29, 29, 29);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded Sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
