/* RESET CSS */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* MAIN CSS */

:root {
    --montserrat: 'Montserrat', sans-serif;
}


/* Google Apps and Profile */

#profile-container {
    background-color: #F0F0F0;
    width: 80px;
    height: 40px;
    margin: 30px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#profile-container:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

#google-drive-container {
    width: 100%;
}

#drive-icon {
    width: 100%;
    margin-left: 1px;
    margin-top: 2px;
}

#pic-container {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

#profile-pic {
    width: 100%;
    border-radius: 0 5px 5px 0;
    
}


/* Things in Center */

#things-in-center {
    width: 800px;
    height: 400px;
    margin: 100px auto;
}

#google-image {
    width: 45%;
    display: block;
    margin: 0 auto;
}

/* Search nav Bar */

#search-nav {
    display: flex;
    margin: -15px auto;
    font-family: var(--montserrat);
    width: 85%;
    height: 60px;
    border-radius: 5px;
    background: #fafafa;
    box-shadow: 0px 4px 31px -8px rgba(80, 80, 80, 0.33);
    transition: 0.2s;
}

#search-nav:hover {
    /* google-shadow */
    box-shadow: 0px 4px 31px -8px rgba(10, 10, 10, 0.33);
}


#lupa {
    width: 25px;
    height: 25px;
    opacity: 60%;
    margin-left: 18px;
    margin-top: 18px;
}

#lupa:hover {
    opacity: 90%;
    cursor: pointer;
}

#mic {
    width: 22px;
    height:30px;
    margin-top: 15px;
    margin-left: 16px;
    opacity: 80%;
}

#mic:hover {
    opacity: 100%;
    cursor: pointer;
}

#search-nav input[type=text] {
    padding: 6px;
    border: none;
    margin-left: 23px;
    margin-top: 7px;
    background-color: transparent;
    font-family: var(--montserrat);
    width: 80%;
    height: 33px;
    font-size: 1.1rem;
    color: rgb(56, 56, 56);
    appearance: none;
  }

  #search-nav input[type=text]:focus {
      outline: none;
  }

  #search-nav input[type=text]::placeholder {
      opacity: 50%;
  }

/* Button Google Search  */

#btn-container {
    display: flex;
    margin: 0 auto;
    width: 430px;
    justify-content: center;
}

.btn {
    display: block;
    margin: 60px auto;
    width: 200px;
    height: 55px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #838383;
    border: 0;
    background: #F0F0F0;
    border-radius: 5px;
    font-family: var(--montserrat);
}

#btn-search:hover {
    background: #e4e4e4;
    cursor: pointer;
}

#btn-search:focus {
    outline: none;
}

/* Footer */

footer {
    background-color: #F0F0F0;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: var(--montserrat);
}

.footer-links {
    text-decoration: none;
    color: #979797;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.footer-links:hover {
    color: rgb(99, 99, 99);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

#footer-container-right {
    width: 500px;
}

#footer-container-left {
    display: flex;
    justify-content: flex-start;
}

.left-links{
    margin-left: 50px;
}