/* RESET CSS */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables for Typography and Color */

:root {
    --montserrat: 'Montserrat', sans-serif;
    --lightgrey: #f5f5f5;
    --hovergrey: #f0f0f0;
    --almostwhite: rgb(252, 252, 252);
    --almostgrey: #F0F0F0;
    --greytext: #888888;
    --darkergrey: rgb(80, 80, 80);
}

/* Header */

#profile-container {
    background-color: var(--lightgrey);
    width: 65px;
    height: 33px;
    margin: 30px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#profile-container:hover {
    background-color: var(--hovergrey);
    cursor: pointer;
}

#google-drive-container {
    width: 100%;
}

#drive-icon {
    width: 100%;
    margin-left: 1px;
    margin-top: 2px;
}

#pic-container {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

#profile-pic {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

/* Main */

#things-in-center {
    width: 800px;
    height: 400px;
    margin: 150px auto;
}

#google-image {
    width: 38%;
    display: block;
    margin: 0 auto;
}

/* Search nav Bar */

#search-nav {
    display: flex;
    margin: 0 auto;
    font-family: var(--montserrat);
    width: 75%;
    height: 50px;
    border-radius: 5px;
    background: var(--almostwhite);
    box-shadow: 0px 4px 31px -8px rgba(80, 80, 80, 0.33);
    transition: 0.2s;
}

#search-nav:hover {
    /* google-shadow */
    box-shadow: 0px 4px 31px -8px rgba(10, 10, 10, 0.33);
}


#lupa {
    width: 25px;
    height: 25px;
    opacity: 40%;
    margin-left: 11px;
    margin-top: 13px;
}

#lupa:hover {
    opacity: 70%;
    cursor: pointer;
}

#mic {
    width: 18px;
    height:24px;
    margin-top: 12px;
    margin-left: 23px;
    opacity: 80%;
}

#mic:hover {
    opacity: 100%;
    cursor: pointer;
}

#search-nav input[type=text] {
    padding: 6px;
    border: none;
    margin-left: 14px;
    margin-top: 3px;
    background-color: transparent;
    font-family: var(--montserrat);
    width: 80%;
    height: 33px;
    font-size: 0.9rem;
    color: rgb(56, 56, 56);
    appearance: none;
  }

  #search-nav input[type=text]:focus {
      outline: none;
  }

  #search-nav input[type=text]::placeholder {
      opacity: 50%;
  }

/* Buttons */

#btn-container {
    display: flex;
    margin: 0 auto;
    width: 350px;
    justify-content: center;
}

.btn {
    display: block;
    margin: 45px auto;
    width: 160px;
    height: 45px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #838383;
    border: 0;
    background: var(--lightgrey);
    border-radius: 5px;
    font-family: var(--montserrat);
}

#btn-search:hover {
    background: var(--hovergrey);
    cursor: pointer;
}

#btn-search:focus {
    outline: none;
}

/* Footer */

footer {
    background-color: var(--almostgrey);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: var(--montserrat);
}

.footer-links {
    text-decoration: none;
    color: var(--greytext);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.footer-links:hover {
    color: var(--darkergrey);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}

#footer-container-right {
    width: 400px;
}

#footer-container-left {
    display: flex;
    justify-content: flex-start;
}

.left-links{
    margin-left: 50px;
}